/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2017, 2:48:31 PM
    Author     : 501956422
*/

body {
	background-color:green;
	background-image:
		-webkit-gradient(radial, 8 8,0, 8 8, 7,
			color-stop(0.7, rgba(0,0,0,0)),
			color-stop(0.8, #000000)),
		-webkit-gradient(radial, 64 64, 1000, 100 44, 40, 
			from(#FC1C14),
			color-stop(.4,#751199),
			color-stop(.6,#E7F70C),
			color-stop(.6,#08ABFC),
			color-stop(.7,#24990C), 
			color-stop(.8,#F78F07), 
			to(#CF15CF));
	background-image:
		-webkit-radial-gradient(circle,
			rgba(0,0,0,0) 45%,
			rgba(0,0,0,1) 48%),
		-webkit-radial-gradient( ellipse farthest-corner,
			#FC1C14 0%,
			#751199 40%,
			#E7F70C 60%,
			#08ABFC 60%,
			#24990C 70%, 
			#F78F07 80%, 
			#CF15CF 90%);
			
	background-image:
		-moz-radial-gradient(circle,
			rgba(0,0,0,0) 45%,
			rgba(0,0,0,1) 48%),
		-moz-radial-gradient( ellipse farthest-corner,
			#FC1C14 0%,
			#751199 40%,
			#E7F70C 60%,
			#08ABFC 60%,
			#24990C 70%, 
			#F78F07 80%, 
			#CF15CF 90%);
			
	background-image:
		-ms-radial-gradient(circle,
			rgba(0,0,0,0) 45%,
			rgba(0,0,0,1) 48%),
		-ms-radial-gradient( ellipse farthest-corner,
			#FC1C14 0%,
			#751199 40%,
			#E7F70C 60%,
			#08ABFC 60%,
			#24990C 70%, 
			#F78F07 80%, 
			#CF15CF 90%);
			
	background-image:
		-o-radial-gradient(circle,
			rgba(0,0,0,0) 45%,
			rgba(0,0,0,1) 48%),
		-o-radial-gradient( ellipse farthest-corner,
			#FC1C14 0%,
			#751199 40%,
			#E7F70C 60%,
			#08ABFC 60%,
			#24990C 70%, 
			#F78F07 80%, 
			#CF15CF 90%);
			
	background-image:
		radial-gradient(circle,
			rgba(0,0,0,0) 45%,
			rgba(0,0,0,1) 48%),
		radial-gradient( ellipse farthest-corner,
			#FC1C14 0%,
			#751199 40%,
			#E7F70C 60%,
			#08ABFC 60%,
			#24990C 70%, 
			#F78F07 80%, 
			#CF15CF 90%);
		-webkit-background-size: 15px 15px, 100%, 100%; /* safari 4 */
		-moz-background-size: 15px 15px, 100%, 100%; /* FF 3.6 */
		background-size: 15px 15px, 160%, 160%;
		background-position: 0 0, -200px -200px;
}